.hero-section {
    background-image: url("../imgs/marketing-intro.jpg");
    width: 100%;
    background-size: cover;
    h1 {
        color: $white_color;
        font-size: 72px;
    }
    p{
        color: $white_color;
        font-size: 30px;
    }
    .col-6{
        margin-right: $spacing * 2;
    }
    .form {
        margin-bottom: -80px;
        border-color: rgba(0, 0, 0, 0.08);
        border-style: solid;
    }
}