.section-1-2-3{
    margin-top: $spacing*2;
    .box-imgs{
        justify-content: center;
        img{
            max-width: 400px;
        }
    }
    span {
        margin-left: 10px;
        font-size: 20px;
        font-weight: bold;
    }
    .descr_right {
        flex-direction: column;
        h2{
            font-size: 54px;
            margin-bottom: $spacing;
        }
        p{
            margin-bottom: 20px;
        }
    }
    .margin_left{
        margin-left: $spacing*5;
    }
}

#section-1 ,#section-3{
   .col-6{
       margin-right: 100px;
   }
}

#section-4 {
    h2 {
        text-align: center;
        font-size: 54px;
    }p {
       text-align: center;
       font-size: 24px; 
       padding-bottom: $spacing*2;
    }
}

.box-img{
    text-align: center;
    padding-bottom: $spacing*9;
    img {
        width: 170px;
        height: 50px;
        text-align: center;
    }
}

.info-img {
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 6%) 0px 20px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
        width: 50px;
        border-radius: 50px;
        margin-right: -45px;
    }
    h5 {
        font-size: 22px;
    }
    p{
        font-size: 14px;
    }
    h4 {
        font-size: 26px;
    }
}

#section-5 {   

    .overlay{
      height: 338px;
        background-color: $orange_color;
    }
    img {
        width: 300px;
        opacity: 1;
        &:hover{
            opacity: 0.8;
        }
    }
    h1{
        font-size: 54px;
        text-align: center;
        margin-bottom: $spacing*2;
    }.col-4 {
        align-items: center;
        display: flex;
        flex-direction: column;

    }h3 {
        font-size: 32px;
        font-weight: 500;
        // text-align:end;
        margin-bottom: $spacing;
        text-align: center;
    }
    h4 {
        font-size: 54px;
        font-weight: 700;
    }
    p{
        margin-bottom: $spacing*2;
        font-size: 17px;
    }
    .btn_orange2 {
        text-align: center;
        margin-bottom: $spacing;
    }
}

#section-6 {
    background-color: $gray_color;
    h1{
        font-size: 54px;
        font-weight: 500;
        margin-bottom: $spacing;
    }
    p {
        font-size: 24px;
        text-align: left;
        margin-bottom: $spacing;
        line-height: 1.48em;
        letter-spacing: -0.01em;
    }
    img {
       max-width: 550px;
    }
}

#section-7 {
    background-color: $gray_color;
    h3 {
        font-size: 32px;
        margin-bottom: $spacing;
        font-weight: 500;
        font-style: normal;
    }
    p {
        font-size: 20px;
        margin-bottom: $spacing*3;
        font-weight: 400;
        font-style: normal;
    }

    i {
        border: 1px solid $orange_color;
        padding: 20px;
        height: 62px;
        color: $orange_color;
        margin-right: 5px;
        border-radius: 7px;
    }
}

.info-right {
    margin-bottom: $spacing*3;
 span{
     font-size: 24px;
     margin-left: 10px;
 }
}

#section-8 {
    background-color: $gray_color;
    h3{
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        font-style: normal;
    }
    img{
        max-width: 180px;
        &:hover{
       max-width: 182px;
        }
        
    }
    .col-3 {
        flex-direction: column;
        align-items: center;
        display: flex;
    }
    p {
        text-align: center;
    }
}

#section-9 {

    .col-6 {
        // display: flex;
        justify-content: center;
    }
    img {
        border-radius: 15px;
        max-width: 500px;
    }
    h3 {
        font-size: 32px;
        margin-bottom: $spacing*3;
    }
    h5 {
        font-size: 20px;
    }
}

#section-10 {
    background-color: $gray_color;
    margin-bottom: $spacing*3;
    h2 {
        font-size: 50px;
        font-weight: 500;
        font-style: normal;
    }
    .row {
        align-items: flex-end;
    }

    .button_right {
        display: flex;
        justify-content: flex-end;
    }
    .col-6 {
        margin-bottom: $spacing*3;
    }
    img {
        max-width: 370px;
        margin-bottom: $spacing;
    }
    h3 {
        font-size: 32px;
        font-weight: 500;
        font-style: normal;
    }

}

#section-11{
    padding-top: $spacing*5;
    padding-bottom: $spacing*5;
    background-color: $black_color;
    h1 {
        color: $white_color;
        font-size: 72px;
        margin-bottom: $spacing;
    }
    p{
        color: $white_color;
        font-size: 30px;
        text-align: left;
    }
    .separator {
        margin-top: $spacing*2;
        margin-bottom: $spacing*2;
        width: 100px;
        border: 1px solid rgba(255,255,255,0.3);
        border-color: rgba(255,255,255,0.3);
    }
    .em {
        font-size: 22px;
        margin-bottom: $spacing;
    }
    h6 {
        color: $white_color;
        font-size: 20px;
    }
    .descr {
        font-size: 14px;
        color: $white_color;
    }
    .col-6 {
        margin-right: $spacing*2;
    }
}

