// Colori principali del sito
$orange_color: #f86011;
$blue_color: #2455b0;
$yellow_color: #ece046;
$black_color: #010101;
$white_color:white;

// Spaziature fisse
$spacing: 20px;

// Font del sito
$font-family: 'DM Sans', sans-serif;
$border: 1px solid black;
