<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avada Marketing Consultant</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="dist/app.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <nav class="container">
            <div class="row">
                <div class="col-3">
                    <img src="imgs/avada-marketing-logo-2x-400x74.png" alt="">
                </div>
                <div class="col-9">
                    <ul>
                        <li v-for="el in navbarLinks">
                            <a :href="el.link">
                                <!-- <i class="fas fa-chevron-circle-down"></i> -->
                                <!-- <i class="fas fa-phone-alt"></i> -->
                                <!-- <i class="fas fa-chevron-down"></i> -->
                                {{el.text}}
                                <i class="fas" :class="el.icon"></i>
                            </a>
                        </li>
                        <li>
                            <button class="btn-nav">Free Quote</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header>
            <section class="hero-section">
                <div class="row container">
                    <div class="col-6">
                        <h1>Unlock Your Online Growth Potential</h1>
                        <p>Online marketing to secure customer retention, leads, and sales. We focus on the bigger
                            picture.
                        </p>
                        <button class="btn-white">Our Services<i class="fas fa-arrow-right"></i></button>
                    </div>
                    <div class="col-4">
                        <div class="form">
                            <img src="imgs/marketing-consultant-expert.jpg" alt="">
                            <h4>Richard Madsen</h4>
                            <h3>Marketing Consultant Expert</h3>
                            <span><i class="fas fa-phone-alt"></i></i>(555) 802-1234</span>
                            <input type="text" placeholder="Your name*">
                            <input type="text" placeholder="Your Email*">
                            <input class="input_3" type="text" placeholder="Your Phone Number*">
                            <button class="btn_orange2">Get a Callback</button>
                            By submitting my data I agree to be contacted
                        </div>
                    </div>
                </div>
            </section>
        </header>

        <main>
            <section id="section-1" class="section-1-2-3 container">
                <div class="row">
                    <div class="col-6">
                        <div class="flex box-imgs">
                            <img src="images/digital-marketing-strategy.png" alt="">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="flex descr_right">
                            <div class="flex">
                                <img src="imgs/mc-favicon.png" alt="">
                                <span>Investors In People</span>
                            </div>
                            <h2>In-House Sales Training</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor placerat luctus.
                                Nullam sit amet ante sed orci convallis gravida et at massa.</p>
                        </div>
                        <button class="btn_orange2">Get a Consultation</button>
                    </div>
                </div>

            </section>
            <section id="section-2" class="section-1-2-3 container">
                <div class="row">
                    <div class="col-6 margin_left">
                        <div class="flex descr_right">
                            <div class="flex">
                                <img src="imgs/mc-favicon.png" alt="">
                                <span>Social Media Analysis</span>
                            </div>
                            <h2>Harness Your Social Proof</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit. Sed auctor placerat luctus.
                                Nullam sit amet ante <br> sed orci convallis gravida et at massa.</p>
                        </div>
                        <button class="btn_orange2">Get a Consultation</button>
                    </div>
                    <div class="col-4">
                        <div class="flex box-imgs">
                            <img src="images/strategic-marketing-plan.png" alt="">
                        </div>
                    </div>
                </div>

            </section>
            <section id="section-3" class="section-1-2-3 container">
                <div class="row">
                    <div class="col-6">
                        <div class="flex box-imgs">
                            <img src="images/digital-marketing-strategy.png" alt="">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="flex descr_right">
                            <div class="flex">
                                <img src="imgs/mc-favicon.png" alt="">
                                <span>Business Growth</span>
                            </div>
                            <h2>Increase Brand Awareness</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor placerat luctus.
                                Nullam sit amet ante sed orci convallis gravida et at massa.</p>
                        </div>
                        <button class="btn_orange2">Get a Consultation</button>
                    </div>
                </div>

            </section>
            <section id="section-4" class="container">
                <h2>Some Brands We Work With</h2>
                <p>Quisque aliquet, libero consequat elementum convallis.</p>
                <div class="box-img">
                    <img src="imgs/abstract.png" alt="">
                    <img src="imgs/cglobal.png" alt="">
                    <img src="imgs/next.png" alt="">
                    <img src="imgs/hemisferio.png" alt="">
                    <img src="imgs/spaces.png" alt="">
                    <img src="imgs/digitalbox.png" alt="">
                </div>
                <div class="info-img">
                    <div>
                        <img src="imgs/marketing-expert-cta.png" alt="">
                    </div>
                    <div>
                        <h5>Sandy Reiff</h5>
                        <p>Marketing Consultant Expert</p>
                    </div>
                    <div>
                        <h4>Drive Leads and Sales with Avada</h4>
                    </div>
                    <div>
                        <button class="btn-orange"><i class="fas fa-phone"></i>(555)802-1234</button>
                    </div>
                </div>

            </section>
            <section id="section-5" class="container">
                <h1>Trusted by Leading Organisations</h1>
                <div class="row">
                    <div class="col-4">
                        <div class="overlay">
                            <img src="imgs/case-studies-1-200x225.jpg" alt="">
                        </div>
                        <h3>How Spaces attracted five million visitors by improving the content</h3>
                        <h4>200%</h4>
                        <p>Higher revenue from digital</p>
                    </div>
                    <div class="col-4">
                        <div class="overlay">
                        <img src="imgs/case-studies-4-200x225.jpg" alt="">
                        </div>
                        <h3>Creativity helped Hemisferio to increase their brand reach </h3>
                        <h4>10x</h4>
                        <p>Sales increase with the same ad spend</p>
                    </div>
                    <div class="col-4">
                        <div class="overlay">
                            <img src="imgs/case-studies-6-200x225.jpg" alt="">
                        </div>
                        <h3>How DigitalBox used AI-powered data insight to boost sales</h3>
                        <h4>3-year</h4>
                        <p>Partnership with Avada Consultant</p>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn_orange2">Red More Case Studies</button>
                </div>
            </section>
            <section id="section-6">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <h1>We Boost Our Clients’ Bottom Line by Optimizing Their Growth Potential.</h1>
                            <p>Quisque aliquet, libero consequat elementum convallis, erat risus imperdiet pellentesque sem
                                neque eget.</p>
                            <button class="btn_orange2">Why Work With Us</button>
                        </div>
                        <div class="col-6">
                            <img src="imgs/we-boost-our-clients-600x549.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-7">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <h3>We Build Relationships</h3>
                            <p>Curabitur ac leo nunc. Vestibulum et mauris vel ante finibus maximus nec ut leo. Integer
                                consectetur.</p>
                            <h3>Proprietary Processes</h3>
                            <p>Curabitur ac leo nunc. Vestibulum et mauris vel ante finibus maximus nec ut leo. Integer
                                consectetur..</p>
                        </div>
                        <div class="col-6">
                            <div class="info-right flex">
                                <i class="fas fa-search"></i>
                                <span><strong>Accountability </strong> <br> Curabitur ac leo nunc vestibulum</span> <br>
                            </div>
                            <div class="info-right flex">
                                <i class="fas fa-plus-square"></i>
                                <span><strong>Accountability </strong> <br> Curabitur ac leo nunc vestibulum</span> <br>
                            </div>
                            <div class="info-right flex">
                                <i class="fas fa-signal"></i>
                                <span><strong>Accountability </strong> <br> Curabitur ac leo nunc vestibulum</span> <br>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-8">
                <div class="container">
                    <h3>Awards</h3>
                    <div class="row">
                        <div class="col-3">
                            <img src="imgs/award-a-200x191.png" alt="">
                            <p>Winner Seo Master MAGT <br> Smart Start Award 2017</p>
                        </div>
                        <div class="col-3">
                            <img src="imgs/award-b-200x191.png" alt="">
                            <p>Top Social Media Agencies <br> Next Partner 2018</p>
                        </div>
                        <div class="col-3"> <img src="imgs/award-c-200x191.png" alt="">
                            <p>10 Fastest Growing Abstract <br> Solution Providers 2019</p>
                        </div>
                        <div class="col-3">
                            <img src="imgs/award-d-200x191.png" alt="">
                            <p>National Excellence Agencie <br> Award Winner 2020</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-9" class="container">
                <div class="row">
                    <div class="col-6 flex">
                        <img src="imgs/large-testimonial-600x583.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <h3>“The team at Avada Marketing Consultant is fabulous. They helped us unlock our potential
                            online
                            and offline. We have experienced year on year growth due to their progressive approach.”
                        </h3>
                        <h5><strong> Kate Schadler</strong></h5>
                        <p>Marketing Consultant – Abstract</p>
                    </div>
                </div>
            </section>
            <section id="section-10">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <h2>Marketing Resources: Insider Advice on How to Increase Online Sales</h2>
                        </div>
                        <div class="col-6">
                            <div class="button_right">
                                <button class="btn_orange2">Explore All Resources</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <img src="imgs/blog-posts-6-400x267.jpg" alt="">
                            <h3>Marketing Tips And Tricks For Your Website</h3>
                        </div>
                        <div class="col-4">
                            <img src="imgs/blog-posts-5-400x267.jpg" alt="">
                            <h3>Marketing Tips And Tricks For Your Website</h3>
                        </div>
                        <div class="col-4">
                            <img src="imgs/blog-posts-4-400x267.jpg" alt="">
                            <h3>Marketing Tips And Tricks For Your Website</h3>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <section id="section-11">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h1>Let’s Make Things Happen</h1>
                        <p>Curabitur ac leo nunc. Vestibulum et mauris vel ante finibus maximus nec ut leo. Integer
                            consectetur.</p>
                        <div class="separator"></div>
                        <p class="em"><em>“The team at Avada Marketing Consultant is fabulous. They helped us unlock our
                                potential online and offline. We have experienced year on year growth due to their
                                progressive approach.”</em></p>
                        <h6>George Anderson</h6>
                        <p class="descr">Digitalbox CEO</p>
                    </div>
                    <div class="col-4">
                        <div class="form">
                            <img src="imgs/marketing-consultant-expert.jpg" alt="">
                            <h4>Richard Madsen</h4>
                            <h3>Marketing Consultant Expert</h3>
                            <span><i class="fas fa-phone-alt"></i>(555) 802-1234</span>
                            <input type="text" placeholder="Your name*">
                            <input type="text" placeholder="Your Email*">
                            <input class="input_3" type="text" placeholder="Your Phone Number*">
                            <button class="btn_orange2">Get a Callback</button>
                            By submitting my data I agree to be contacted
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <footer id="footer" class="container">
            <div class="row">
                <div class="col-6">
                    <h3>Grow Your Online Business <br> Strategically, and Improve <br> Customer Retention.</h3>
                    <div class="social">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </div>

                </div>
                <div class="col-2">
                    <h3>Services</h3>
                    <ul>
                        <li v-for="services in footerLinks.services">
                            <a :href="services.link">
                                {{services.text}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-2">
                    <h3>Resources</h3>
                    <ul>
                        <li v-for="resources in footerLinks.resources">
                            <a :href="resources.link">
                                {{resources.text}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-2">
                    <h3>Company</h3>
                    <ul>
                        <li v-for="company in footerLinks.company">
                            <a :href="company.link">
                                {{company.text}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-4">
                    <a href="#">© 2020 • Avada Consultant • Powered by WordPress</a>
                </div>
                <div class="col-2">
                    <a href="#">Call Us (555) 802-1234</a>
                </div>
                <div class="col-2">
                    <a href="#">info@yourcompany.com</a>
                </div>
            </div>

            <div class="help-me">
                <i class="fas fa-comment-alt"></i>
                <div class="form-help">
                    <img src="imgs/marketing-expert-cta.png" alt="">
                    <p>This is a free HubSpot live chat. You can create your own chat flows and engage your customers
                        with Avada & HubSpot!</p>
                </div>
            </div>
            <i class="fas fa-times"></i>
            <div class="demos">
                <i class="fas fa-id-card-alt"></i>
                <p>Demos</p>
            </div>
            <div class="demos buy">
                <i class="fas fa-shopping-cart"></i>
                <p>Buy Now</p>
            </div>
        </footer>
    </div>

    <script src="script.js"></script>
</body>

</html>